* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  background-color: rgba(241, 249, 255, 1);
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-header{
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}
.logo-link img {
  display: block;
}

.site-header-actions{
  display: flex;
  align-items: center;
}
/* SITE-NAV */
.sitenav-list{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 47px;
}
.sitenav-item {
  margin-right: 51px;
}
.sitenav-item:last-child {
  margin-right: 0;
}

.sitenav-link{
  font-family: 'Poppins',"Arial",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(110, 95, 95, 1);
  text-decoration: none;
  transition: color 0.4s ease,
  opacity 0.4s ease;

}

.sitenav-link:hover{
  color:rgba(64, 163, 248, 1);
}
.sitenav-link:active{
  opacity: 0.6;
}

.blue-button{
  font-family: 'Poppins',"Arial",sans-serif;
  display: inline-block;
  padding: 14px 28px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  background-color:rgba(64, 163, 248, 1);
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.blue-button:hover{
  opacity: 0.8;
}
.blue-button:active{
  opacity: 0.6;
}


/* HERO */
.hero{
  color: rgba(62, 62, 62, 1);
  padding-top: 80px;
  padding-bottom: 50px;
}

.hero-content {
  width: 390px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-heading{
  font-family: "Roboto Condensed","Roboto", "Arial", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-img{
  width: 978px;
  height: 651.32px;
}
